:root {
  --light-primary-background-color: #efefef;
  --dark-primary-background-color: #111111;
  --light-primary-text-color: #111111;
  --dark-primary-text-color: #efefef;
  --title-font-size: clamp(35px, calc(1rem + 3vw), 1000px);
  --light-slider-shadow: #cfcfcf;
  --dark-slider-shadow: #303030;
  --arrow-container-size: clamp(35px, calc(1rem + 2.5vw), 1000px);
  --arrow-size: clamp(18px, calc(0.3rem + 1.3vw), 1000px);
  --light-arrow-background: #c0c0c0;
  --dark-arrow-background: #424242;
  --nav-dot-size: clamp(9px, calc(0.3rem + 0.5vw), 1000px);
  --nav-dot-space: clamp(3px, calc(0.5rem + 0.5vw), 1000px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

#main {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-theme {
  background-color: var(--light-primary-background-color);
  color: var(--light-primary-text-color);
}

.dark-theme {
  background-color: var(--dark-primary-background-color);
  color: var(--dark-primary-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2vw;
}

.title-container {
  grid-column: 3 / span 8;
}

.title-container .title {
  font-size: var(--title-font-size);
}

.slider {
  grid-column: 3 / span 8;
  grid-row: 2 / span 4;
  border-radius: 0.5vw;
  overflow: hidden;
}

body.light-theme .slider {
  box-shadow: 0vw 0vw 1vw var(--light-slider-shadow),
    0vw 0vw 1.5vw var(--light-slider-shadow),
    0vw 0vw 2.5vw var(--light-slider-shadow);
}

body.dark-theme .slider {
  box-shadow: 0vw 0vw 1vw var(--dark-slider-shadow),
    0vw 0vw 1.5vw var(--dark-slider-shadow),
    0vw 0vw 2.5vw var(--dark-slider-shadow);
}

.all-slide-container {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.2s ease-in;
  cursor: grab;
  user-select: none;
}

.all-slide-container.grabbing {
  cursor: grabbing;
  transition: none;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
}

.previous {
  grid-column: 1 / span 2;
}

.next {
  grid-column: 11 / span 2;
}

.previous,
.next {
  grid-row: 2 / span 4;
}

.arrow-btn {
  width: var(--arrow-container-size);
  height: var(--arrow-container-size);
  font-size: var(--arrow-size);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

body.light-theme .arrow-btn {
  background-color: var(--light-arrow-background);
  color: var(--light-primary-text-color);
}

body.dark-theme .arrow-btn {
  background-color: var(--dark-arrow-background);
  color: var(--dark-primary-text-color);
}

.dots-container {
  grid-column: 3 / span 8;
  grid-row: 6 / span 1;
  display: flex;
  justify-content: center;
  gap: var(--nav-dot-space);
}

.dot {
  width: var(--nav-dot-size);
  height: var(--nav-dot-size);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.3;
}

body.light-theme .dot {
  background-color: #000;
}

body.dark-theme .dot {
  background-color: #fff;
}

.dot.active {
  opacity: 1;
}

/* Responsiveness */
@media screen and (max-width: 540px) {
  .slider-container {
    width: 99%;
    height: 70%;
    gap: 0;
  }

  .title-container {
    grid-column: 1 / span 12;
  }

  .dots-container {
    padding-top: 5vw;
  }
}
